*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-container{
    height: 500px;
    width: 650px;
    background-color: inherit;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.product-image-container{
    height: 500px;
    width: 50%;
    
}

.product-desc-container{
    height: 500px;
    width: 50%;
    background-color: white;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    
}
.product-desc-container>h1{
    margin: 0.5rem 0;
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}
.product-desc-container>h3{
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: hsl(158, 36%, 37%);
    font-size: small;
}
.product-desc-container>p{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    font-size: small;
    color: hsl(158, 36%, 37%);
}
.product-prices{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
#current-price{
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 20px;
    color: hsl(158, 36%, 37%);
}
#previous-price{
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}
#add-to-cart-btn{
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    /* margin-right: 15px; */
}
#add-to-cart-btn>img{
    margin-right: 10px;
}
#add-to-cart-btn:hover{
    background-color: hsl(212, 21%, 14%);
}
#product-image{
    height: 100%;
}
#product-image-mobile{
    display: none;
}

@media screen and (max-width: 600px) {
    .product-container {
      flex-direction: column;
      height: auto;
      width: calc(100vw - 20px);
    }
    .product-desc-container{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .product-image-container{
        width: auto;
        height: 100%;
    }
    #product-image{
        display: none;
    }
    #product-image-mobile{
        width: 100%;
        display: block;
    }
  }